@model AdvertisingCompany.Models.Location

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationID" />
            <div class="form-group">
                <label asp-for="NameLocation" class="control-label"></label>
                <input asp-for="NameLocation" class="form-control" />
                <span asp-validation-for="NameLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationT" class="control-label"></label>
                <input asp-for="LocationT" class="form-control" />
                <span asp-validation-for="LocationT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeAdvertisingID" class="control-label"></label>
                <select asp-for="TypeAdvertisingID" class="form-control" asp-items="ViewBag.TypeAdvertisingID"></select>
                <span asp-validation-for="TypeAdvertisingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalServiseID" class="control-label"></label>
                <select asp-for="AdditionalServiseID" class="form-control" asp-items="ViewBag.AdditionalServiseID"></select>
                <span asp-validation-for="AdditionalServiseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
