@model AdvertisingCompany.Models.AdditionalServise

@{
    Layout = "_Layout";
    ViewData["Title"] = "Дополнительный сервис - удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Дополнительный сервис</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameAdditionalServise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameAdditionalServise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscriptionAdditionalServise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscriptionAdditionalServise)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AdditionalServiseID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернутся к списку</a>
    </form>
</div>
