@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_Layin";
    }
    ViewData["Title"] = "О нас";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Мы молодая конпания созданная в 2017 году. Мы работаем в сфере рекламы. Наша реклама имеет достаточно широкий асортимент, работаем на различных площадках и с различными сервисами.</p>
