@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_Layin";
    }
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Главный офис:<br />
    г. Гомель, пр. Октября, 48<br />
    <abbr title="Номер директора">Контактный номер:</abbr>
    +375291236386
</address>

<address>
    <strong>Отдел продаж:</strong> <a href="mailto:Support@example.com">Support@tut.by</a><br />
    <strong>Отдел маркетинга:</strong> <a href="mailto:Marketing@example.com">Marketing@tut.by</a>
</address>
